streamlit
langchain
langchain-community
sentence-transformers
faiss-cpu
pytube
youtube-transcript-api
python-dotenv
ollama
groq
langchain-groq
beautifulsoup4
pypdf
docx2txt
PyPDF2
spacy
pandas
numpy
openpyxl
langchain_huggingface
regex
nltk
