fastapi
uvicorn[standard]
python-multipart
pydantic-settings
groq
sentence-transformers
scikit-learn
numpy
pymupdf
python-docx
nltk
qdrant-client
rank_bm25
google-genai
requests
fpdf2
sqlalchemy
psycopg[binary]
